<!DOCTYPE html>
<html lang="en"> <!--if not logged in then every page should link to login page per spec--> 
    <head>
  <title>Insta485</title>
</head>

<body> <!--images could use fixing of lcoations into var/-->
  <h1>followers</h1>
  <a href="{{ url_for('show_index') }}">Main Page</a>
  <a href="{{ url_for('show_explore') }}">Go to Explore</a> <!--if logged in then link to explore page--> 
  <a href="{{ url_for('show_user', username=logname)}}">Link to Page of {{ logname }}</a> <!--if logged in then link to profile page--> 
  
  </body>
</html>

  