<!DOCTYPE html>
<html lang="en"> <!--if not logged in then every page should link to login page per spec--> 
    <head>
  <title>Insta485</title>
</head>

<body> <!--images could use fixing of lcoations into var/-->
  <h1>followers</h1>
  <a href="{{ url_for('show_index') }}">Main Page</a>
  <a href="{{ url_for('show_explore') }}">Go to Explore</a> <!--if logged in then link to explore page--> 
  <a href="{{ url_for('show_user', username=logname)}}">Link to Page of {{ logname }}</a> <!--if logged in then link to profile page--> 
  
  {% for follower in followers %}
    <div class="username">
        <p>
            <a href="{{ url_for('show_user', username=follower['username'])}}">
        {{ follower['username'] }}</a>

        </p>
    </div>
    <div class="icon">
        <img src="{{ url_for('upload_file', filename=follower['user_pic']) }}" alt="{{ follower['username'] }} profile picture"> 
        Icon for {{ follower['username'] }}
    </div>

    <div class="follow_info">
        {% if follower['relationship'] == "not_following" %}
            <p>not following</p>
        <form action="{{ url_for('update_following') }}?target={{ url_for('show_user_followers', username=username) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{ follower['username'] }}"/>
            <input type="hidden" name="operation" value="follow"/>
        </form>
    
    {% elif follower['relationship'] == "following" %}
        <p> following</p>
        <form action="{{ url_for('update_following') }}?target={{ url_for('show_user_followers', username=username) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="unfollow" value="unfollow"/>
            <input type="hidden" name="username" value="{{ follower['username'] }}"/>
            <input type="hidden" name="operation" value="unfollow"/>
        </form>
    {% endif %}


    </div>

  {% endfor %}

  </body>
</html>

  